include granule_metadata_extractor/src/helpers/odmRefData.json
include granule_metadata_extractor/src/helpers/er2edopRefData.json
include granule_metadata_extractor/src/helpers/dc8laseRefData.json
include granule_metadata_extractor/src/helpers/gpmsatpaifldRefData.json
include granule_metadata_extractor/src/helpers/tscpecmwfRefData.json
include granule_metadata_extractor/src/helpers/er2mirRefData.json
include granule_metadata_extractor/src/helpers/dc8ammrRefData.json
include granule_metadata_extractor/src/helpers/lpvexwrfRefData.json
include granule_metadata_extractor/src/helpers/lmarelampagoRefData.json
include granule_metadata_extractor/src/helpers/goesrpltavirisngRefData.json
include granule_metadata_extractor/src/helpers/gpmvanlpvexRefData.json
include granule_metadata_extractor/src/helpers/gpmikalpvexRefData.json
include granule_metadata_extractor/src/helpers/gpmkorlpvexRefData.json
include granule_metadata_extractor/src/helpers/gpmkerlpvexRefData.json
include granule_metadata_extractor/src/helpers/gpmkumlpvexRefData.json
include granule_metadata_extractor/src/helpers/gpmseafluxicepopRefData.json
include granule_metadata_extractor/src/helpers/gpmlipiphxRefData.json
include granule_metadata_extractor/src/helpers/noaasndimpactsRefData.json
